<% content_for :header do %>
<%= stylesheet_link_tag  'article-stylesheet' %>
<%= javascript_include_tag "test.js" %>
<% end %>

<h1>Articles</h1>
<h1>about</h1>
<h2>this should be green</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
    </li>
  <% end %>

  <%= @var1 %>
</ul>


<% content_for :footer do %>
  <div class="alert alert-success">
    footer is here
  </div>
<% end %>