<div id="<%= dom_id post_attachment %>">
  <p>
    <strong>Post:</strong>
    <%= post_attachment.post_id %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= post_attachment.avatar %>
  </p>

</div>
