<h1>Editing post attachment</h1>

<%= render "form", post_attachment: @post_attachment %>

<br>

<div>
  <%= link_to "Show this post attachment", @post_attachment %> |
  <%= link_to "Back to post attachments", post_attachments_path %>
</div>
